<div class='content'>
  <div id="search-box">
    <%= form_tag('/', method: :get) do %>
      <%= text_field_tag :tweet, nil,  id: "tweet_search", name: "keyword", placeholder: "キーワードを打ち込んでください", style: "width: 200px;"%><button title="検索" type="submit">検索</button>
    <% end %>
  </div>

  <div id='tweet_list'>
     <%= render partial: 'tweet_list' %>
  </div>
</div>
